<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Material UI</title>
    <style>
        .materials, .methods, .photos {
            display: inline-block;
            vertical-align: top;
            margin: 20px;
        }

        .highlight {
            background-color: yellow;
        }
        img {
            width: 150px;
            margin: 10px;
        }
    </style>
</head>
<body>
<h1>Materials Selector</h1>
<form method="post" enctype="multipart/form-data" action="/upload" onsubmit="reloadPageAfterUpload(event)">
    <input type="file" name="file"/>
    <button type="submit">Upload</button>
</form>



<div class="materials">
    <h2>Materials</h2>
    <ul>
        <li th:each="material : ${materials}"
            th:text="${material}"
            onclick="selectMaterial(this.textContent)"></li>
    </ul>
</div>

<div class="methods">
    <h2>Methods</h2>
    <ul id="methods">
        <li th:each="method : ${methods}"
            th:text="${method}"
            onclick="selectMethod(this.textContent)"></li>
    </ul>
</div>

<div class="photos">
    <h2>Photos</h2>
    <ul id="photos">
        <li th:each="photo : ${photos}">
            <img th:src="@{/photos/{photo}(photo=${photo})}" alt="Photo">
        </li>
    </ul>
</div>

<!--<div id="photos">-->
<!--    <h2>Photos</h2>-->
<!--    <img th:each="photo : ${photos}"-->
<!--         th:src="${photo}" alt="Photo">-->
<!--</div>-->

<script>

    function selectMaterial(material) {
        const xhr = new XMLHttpRequest();
        xhr.open("GET", `/filter-methods?material=${encodeURIComponent(material)}`);
        xhr.onload = function () {
            if (xhr.status === 200) {
                document.querySelector('#methods').innerHTML = xhr.responseText;
            } else {
                console.error("Failed to load methods:", xhr.status, xhr.statusText);
            }
        };
        xhr.onerror = function () {
            console.error("An error occurred while loading methods.");
        };
        xhr.send();
    }

    function selectMethod(method) {
        const xhr = new XMLHttpRequest();
        xhr.open("GET", `/filter-photos?method=${encodeURIComponent(method)}`);
        xhr.onload = function () {
            if (xhr.status === 200) {
                document.querySelector('#photos').innerHTML = xhr.responseText;
            } else {
                console.error("Failed to load photos:", xhr.status, xhr.statusText);
            }
        };
        xhr.onerror = function () {
            console.error("An error occurred while loading photos.");
        };
        xhr.send();
    }
</script>
</body>
</html>
